<!-- <div class="row">
	<%= image_tag "banner.jpg", alt: "FranPlace", class: "img-responsive banner" %>
</div> -->

<div class="row">
	<div id="container" class="center-block">
		<div class="item landscape"><%= image_tag "banner.jpg", alt: "FranPlace", class: "img" %></div>

		<% @products.each do |product| %>
		  	<div class="item">
		  		<%= image_tag product.pic_url, 
		  			size: "200x#{(product.pic_height.to_f / product.pic_width.to_f * 200).to_i}" %>
		  	</div>
		<% end %>


<!-- 	  <div class="item">...</div>
	  <div class="item w2"><%= image_tag "banner.jpg", alt: "FranPlace", class: "img" %></div>
	  <div class="item w2">...</div>
	  <div class="item">...</div>  
	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item"><%= image_tag "banner.jpg", alt: "FranPlace", class: "img" %></div>
	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>  <div class="item w2">...</div>

	  <div class="item">...</div>
	  <div class="item">...</div>  <div class="item w2">...</div>

	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>  <div class="item w2">...</div>

	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>
	  <div class="item">...</div>  <div class="item w2">...</div>


	  <div class="item">...</div>
	  <div class="item">...</div> -->
	</div>
</div>