<!DOCTYPE html>
<html>
<head>
  <title>CHIC.franplace.de</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "isotope.pkgd.min.js" %>
  <%= javascript_include_tag "imagesloaded.pkgd.min.js" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>

  <%= render 'layouts/navbar' %>

  <%= render 'layouts/about' %>

  <%= image_tag "banner.jpg", alt: "FranPlace", class: "img-responsive banner" %>

  <div id="main-container" class="container">
  	<%= yield %>
  </div>

</body>
</html>
